*secret*
config.yaml
venv
.idea
*pgpass*
*.csv
config-dev.yaml
*.pem
gcloud-login
temp.txt
kubernetes.py
settings.json
.DS_Store
.pytest_cache
__pycache__
workspace.code-workspace
._*
code.py
*.db
helm/charts
